.blogs {
  @include container;

  &--grid {
    @include grid(".blog-item");

    // enhancement for eaqle height
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
