.page-navigation {
  @include container;
  overflow: auto;

  &--next {
    float: right;
  }
  &--prev {
    float: left;

    .single-link {
      padding: 1.25rem 1.25rem 1.25rem 2.875rem;

      &:after {
        content: none;
      }
      &:before {
        content: "";
        position: absolute;
        left: 1rem; bottom: 50%;
        width: 1.25rem; height: 1.25rem;
        transform: translateY(50%) rotate(45deg);
        border-bottom: 2px solid currentColor;
        border-left: 2px solid currentColor;
        transition: .3s transform;
      }

      @include hocus {
        text-decoration: underline;

        &:before {
          transform: translateY(calc(50% + .35rem)) rotate(45deg) translateX(-.5rem);
        }
      }
    }
  }
}
